# API key to authenticate claude gateway apis
GATEWAY_API_KEY=
# Postgres database password
DB_PASSWORD=
# NextAuth session secret (openssl rand -base64 32)
NEXTAUTH_SECRET=
AGENT_API_TOKEN=<shared token, must match app>
